{% extends "_base.html" %}
{% load favourites %}

{% block content %}

<h1>{{ list.title }}</h1>
{% if request.user == list.owner %}
	<p><a href="{% url favourites.edit_list list.pk %}">Edit this list</a></p>
	<p><a href="{% url favourites.delete_list list.pk %}">Remove this list</a></p>
{% endif %}
<ul>
	{% for list_item in list %}
		{% with list_item.item as item %}
		<li><a href="{{ item.get_absolute_url }}">{{ item }}</a>{% if request.user == list.owner %}&nbsp;<span class="controls">(<a href="{% url favourites.delete_item list.pk list_item.pk %}">remove</a>)</span>{% endif %}</li>
		{% endwith %}
	{% endfor %}
</ul>

<h2>{{ list.owner }}&rsquo;s lists</h2>
{% get_favourites_lists list.owner as lists %}
{% if lists %}
	<ul class="favourites">
		{% for l in lists %}
			<li{% if l == list %} class="selected"{% endif %}><a href="{% url favourites.list user.username l.pk %}">{{ l }} <span class="count">({{ l.items.count }})</span></li></li>
		{% endfor %}
		{% if list.owner == request.user %}<li><a href="{% url favourites.create_list request.user.username %}">add another list&hellip;</a></li>{% endif %}
	</ul>
{% else %}
	<p>{{ list.owner }} has no lists.{% if list.owner == request.user %} <a href="{% url favourites.create_list user.username %}">Add one?</a>{% endif %}</p>
{% endif %}

{% endblock %}