{% extends "_base.html" %}

{% block content %}
<h1>{{ owner }}&rsquo;s lists</h1>

{% if lists %}
	<ul class="favourites">
		{% for l in lists %}
			<li{% if l == list %} class="selected"{% endif %}><a href="{% url favourites.list owner.username l.pk %}">{{ l }} <span class="count">({{ l.items.count }})</span></li></li>
		{% endfor %}
		{% if owner == request.user %}<li><a href="{% url favourites.create_list request.user.username %}">add another list&hellip;</a></li>{% endif %}
	</ul>
{% else %}
	<p>{{ owner }} has no lists.{% if owner == request.user %} <a href="{% url favourites.create_list owner.username %}">Add one?</a>{% endif %}</p>
{% endif %}
{% endblock %}