# name is sort of self-describing
# %(user)s is first owner's first_name or username
DEFAULT_FAVOURITES_LIST_NAME = "Default collection for %(user)s"
NEW_FAVOURITES_LIST_NAME = "Yet another collection for %(user)s"